@import "../base";
@import "../colours";
@import "../typography";
@import "../mixins";

@media screen and (min-width: 900px) {
    .container {
        width: 900px;
        margin: 0 auto;
        padding: 0;
    }

    .header {
        .container {
            header {
                .hamburger {
                    display: none;
                }

                nav {
                    display: block;

                    ul {
                        list-style: none;
                        display: flex;
                        gap: 15px;
                        align-items: center;

                        li {
                            position: relative;
                            cursor: pointer;
                            padding-bottom: 10px;

                            &:not(:last-of-type):hover:after {
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                content: ' ';
                                border-bottom: 2px solid $white;
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }
    }


    footer {
        .container {
            text-align: left;
            display: flex;
            justify-content: space-between;

            .navigation-container {
                nav {
                    ul {
                        display: flex;
                        gap: 15px;

                        li {
                            margin: 0;
                        }
                    }
                }
            }

            .social {
                padding-bottom: 30px;
            }

            p {
                margin: 0;
            }
        }
    }
}