@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  padding: 0 30px;
}

html {
  font-size: 93.75%;
}

body {
  font-family: "Alata", sans-serif;
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p,
li,
a,
span,
button {
  font-size: 1rem;
}

.header {
  padding-top: 45px;
  width: 100%;
  color: white;
  background-color: black;
}
.header .container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container header .logo,
.header .container header .hamburger {
  cursor: pointer;
}
.header .container header nav {
  display: none;
}
.header .container header nav a {
  text-decoration: none;
}
.header .container header nav a:active, .header .container header nav a:visited {
  color: white;
}
.header .container header nav .icon-chart {
  background-color: white;
  position: relative;
}
.header .container header nav .icon-chart .item-count {
  position: absolute;
  color: black;
  border-radius: 50%;
  background-color: red;
  padding: 5px;
  top: -20px;
  right: -15px;
  min-width: 30px;
}
.header .container header nav .icon-chart .item-count.hide {
  display: none;
}

.product .container .details-container .title {
  font-size: 40px;
}
.product .container .details-container .upper-details {
  display: flex;
  justify-content: space-between;
}
.product .container .details-container .upper-details .image-container {
  position: relative;
}
.product .container .details-container .upper-details .image-container .hide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: grey;
  top: 0;
}
.product .container .details-container .upper-details .image-container .hide-image .line {
  position: absolute;
  border: 1px solid black;
  display: flex;
  height: 100%;
  top: 0;
  left: 69px;
  rotate: 28deg;
}
.product .container .details-container .price-buy {
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product .container .details-container .price-buy .price {
  font-size: 30px;
  color: red;
}
.product .container .details-container .price-buy .button {
  margin: 0 20px;
  margin-bottom: 20px;
  border: 1px solid blue;
  background-color: aqua;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.product .container .details-container .price-buy .button .text {
  display: flex;
  align-items: center;
}
.product .container .details-container .price-buy .button:hover {
  background-color: aquamarine;
}

footer {
  margin-top: 60px;
  background-color: black;
  color: white;
  padding: 45px 0;
}
footer .container {
  text-align: center;
}
footer .container nav {
  margin: 30px 0;
}
footer .container nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .container nav ul li {
  margin-bottom: 15px;
}
footer .container .social {
  display: flex;
  justify-content: center;
}
footer .container .social ul {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .container p {
  color: #8c8c8c;
}/*# sourceMappingURL=main.css.map */